<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion - SEP&Moi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body id="pageConnexion">
    <!-- Bannière -->
    <header class="banner">
        <img src="{{ url_for('static', filename='../static/images/Caducee.png') }}" alt="Logo SEP&Moi" class="logo">
        <h1 class="title">SEP&Moi</h1>
    </header>

    <!-- Formulaire de connexion -->
    <div id="containerConnexion">
        <form id="formulaire" action="/enregistrer_compte" method="POST">
            <div class="form-group">
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="statut">Statut :</label>
                <select id="statut" name="statut" class="form-control">
                    <option value="medecin">Médecin</option>
                    <option value="administrateur">Administrateur</option>
                </select>
            </div>            
            <button type="submit">Créer mon compte</button>
            
            <!-- Messages flash -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="alert-container">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                        {{ message }}
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

        </form>
    </div>
</body>
</html>
